.Search {
  @apply border-[1px] 
    w-full 
    md:w-auto 
    py-2 
    rounded-full 
    shadow-sm 
    hover:shadow-md 
    transition 
    cursor-pointer;

  &__wrapper {
    @apply flex 
          flex-row 
          items-center 
          justify-between;
  }

  &__locationLabel {
    @apply flex
    text-[1.4rem]
    font-semibold 
    px-6;
  }

  &__durationLabel {
    @apply hidden 
    sm:block 
    text-[1.4rem]
    font-semibold 
    px-6 
    border-x-[1px] 
    flex-1 
    text-center;
  }

  &__guestLabel {
    @apply text-[1.4rem]
    pl-6 
    pr-2 
    text-gray-600 
    flex 
    flex-row 
    items-center 
    gap-3;
  }

  &__icon {
    @apply p-2 
    bg-rose-500 
    rounded-full 
    text-white;
  }
}
