.UserMenu {
  @apply relative;
  &__wrapper {
    @apply flex flex-row items-center gap-3;
  }
  &__rentButton {
    @apply hidden
    laptop:block
    text-[1.45rem]
    font-semibold 
    py-3 
    px-4 
    rounded-full 
    hover:bg-neutral-100 
    transition 
    cursor-pointer;
  }

  &__menuButton {
    @apply p-4
    laptop:py-[.25rem]
    laptop:px-[.5rem]
    border-[.1rem] 
    border-neutral-200 
    flex 
    flex-row 
    items-center 
    gap-3 
    rounded-full 
    cursor-pointer 
    hover:shadow-md 
    transition;
  }

  &__avatar {
    @apply hidden laptop:block;
  }

  &__menu {
    @apply absolute 
    rounded-[1rem]
    shadow-md
    w-[40vw]
    bg-white 
    overflow-hidden 
    right-0 
    top-[4rem] 
    text-[1.45rem];
    @media screen(laptop) {
      width: calc(24rem * var(--scale));
    }
  }
  &__menuWrapper {
    @apply flex flex-col cursor-pointer;
  }
}
